{% load static %}
{% load thumbnail %}
{% with user=request.user %}
    <p>{{ request.user.get_full_name}}</p>
    <button>follow/unfollow</button>
    {% if user.photo %}
        <a href="{{ user.photo }}">
        <img src="{% thumbnail user.photo 200x0 quality=80 %}">
        </a>
        {% else %}
    {% endif %}
    <img src="{% static 'images/profile/Avatar.png.jpg' %}">
{% endwith %}

{% with total_followers=followers.count total_following=user.following.count %}
    <p>{{ total_followers}}FOllOWer{{ total_followers|pluralize }}</p>
    <p>{{ total_following}}FOllOWer{{ total_following|pluralize }}</p>
{% endwith %}